$bg: rgb(103, 103, 103);
$bg-dark:rgb(94, 94, 94);
$bg-darker: rgb(42, 42, 42);


/*drawing colours*/
$red: rgb(185, 70, 70, 200);
$green: rgb(70, 185, 70, 200);
$blue: rgb(120, 210, 230, 200);
$yellow: rgb(255, 255, 100, 200);
$orange: rgb(242, 149, 0, 200);
$cyan: rgb(0, 238, 242, 200);
$purple: rgb(127, 0, 181, 200);
$pink: rgb(242, 92, 162, 200);
$white: rgb(220, 220, 220, 200);
$black: rgb(20, 20, 20, 200);
$bg_solid: rgb(20, 20, 20, 200);
$bg_shade: rgb(70, 70, 70, 100);
$fg_solid: rgb(220, 220, 220, 200);
$fg_shade: rgb(200, 200, 200, 100);