/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.conversation{
    margin-top: 1vh;
    max-height: 90vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.message{
    display: inline-block;
    text-align: left;
    color: rgb(43, 43, 43);
    border: 1px solid rgb(43, 43, 43);
    border-radius: 1vh;
    background: rgb(199, 198, 198);
    padding: 2vh;
    margin: 1vh 1vh 1vh 1vh;
    max-width: 90%;
    min-width:90%;
    cursor: pointer;
}

.message-header{
    display: inline;
    font-weight: bold;
}

.message-sub{
    display: inline;
    font-size:small;
}

.message-img{
    display: inline;
    max-height: 8vh;
    max-width: 8vh;
}

.canvas-inset{
    display: inline;
}

