.home-page-heading {
    padding-top: 1.5em;
    padding-bottom: 1em;
    color:rgb(199, 199, 199);
  }

  .sample-anim {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .home-page-btn-rack {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
    padding-bottom: 1em;
    display: block;
  }