/* ! coll-item-btns coll-item-btn is used in CollectionItem.js
but is not in this css file (check index.css) */

.fullscreen{
  position:fixed;
  top:0;
  left:0;
  padding-top:2vh;
  min-height:100%;
  min-width:100%;
  margin:auto;
  background-color: white;
  color: black;
}

.fullscreen-header {
  text-align:right;
  color:black;
}
.fullscreen-header button{
  color:white;
  background-color:grey;
}

.fullscreen-footer{
  text-align:center;
  padding-left:5em;
  font-weight: bold;
}

.collection-header h5{
    text-align: start;
    font-size: xx-large;
  }

  .coll-item {
    display:inline-block;
    color:rgb(80, 80, 80);
    margin-top: 5px;
    text-align: start;
    font-size:smaller;
    background: rgb(223, 223, 223);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .6), 0 4px 8px rgba(200, 200, 200, .02);
  
  }

  .coll-item:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(200, 200, 200, .6), 0 4px 8px rgba(200, 200, 200, .06);
  }
  
  .coll-item a{
    color:black;
  }
  
  .coll-item-name{
    font-size:large;
    font-weight: bolder;
  }
  
  .coll-item-detail{
    text-align: start;
  }
  
  .coll-item-username{
    text-align:start;
  }
  
  .coll-item-date{
    text-align:end;
  }

  .coll-modal-video{
    max-height:50%;
  }

  .preview-name, span{
    text-align:start;
  }