html{
  background-color: rgb(73, 73, 73);
}
body {
  margin: 0px;
  background-color: rgb(73, 73, 73);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.site-header {
  position: absolute;
  top: 1em;
}

.site-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #2e2e2e;
  margin: 0px;
  padding: 1em 0px 0px 0px;
}

.site-footer a {
  color: rgb(119, 119, 119);
}

.nav-area {
  background-color: rgb(42, 42, 42);
  width: 100%;  
}

.auth-nav-wrapper {
  overflow: auto;
}

.auth-nav {
  border-color: black;
}
/**
.auth-nav-i {
  float: right;
}
*/
.nav-i {
  text-align: left;
}

.loading {
  display:inline-block;
}

.home-page-heading {
  padding-top: 1.5em;
  padding-bottom: 1em;
  color:rgb(130, 130, 130);
}

.sample-anim {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.home-page-btn-rack {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  padding-bottom: 1em;
  display: block;
}

.controller {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.controller img{
  width:30px;
  height:30px;
}

@media only screen and (max-width: 576px) {
  .controller img{
    width:30px;
    height:30px;
    padding:0px;
    display:inline-block;
  }
  .controller button{
    width:45px;
    height:45px;
    padding:0px;
    display:inline-block;
  }
}

@media only screen and (max-width: 410px){
  .save-controller .btn-ctl{
    margin:0px;
  }
}


@media only screen and (max-width: 390px){
  .controller img{
    width:25px;
    height:25px;
    display:inline-block;
  }
  .controller button{
    width:30px;
    height:30px;
    padding:0px;
    margin:0px;
    display:inline-block;
  }
  .save-controller img{
    width:25px;
    height:25px;
    display:inline-block;
  }
  .save-controller button{
    width:35px;
    height:35px;
    padding:0px;
    display:inline-block;
  }
  
}

.btn-ctl {
  border-radius: 5px;
  border-color:rgb(42, 42, 42);
  display:inline-block;
}

.btn-container{
  position: relative;
  text-align: center;
}

.btn-caption{
  position: absolute;
  font-size:x-small;
  color:black;
  bottom: 2px;
  left: 10px;
}

.btn-colour-container{
  position:relative;
  text-align: center;
}

.btn-colour-caption{
  position: absolute;
  font-size:x-small;
  color:black;
  background-color:white;
  border-radius: 2.5px;
  width: 100%;
  height: 5px;
  bottom: 7px;
  left: 7px;
}

.privacy-group{
  float:left;
}

.privacy-heading{
  color: rgb(179, 179, 179);
  text-align: left;
  display:inline-block;
  font-size: smaller;
}

.privacy-label{
  font-size:small;
  text-align:start;
  display:block;
}

.shortcuts-group{
  margin-top:0.5em;
  border-color:rgb(0, 0, 0);
  border-width: 10px;
  text-align:end;
}

.shortcuts-label {
  text-align:start;
  font-size:small;
  color:silver;
}

.create-options{
  overflow: auto;
}

.cont-left{
  margin-left:auto;
  margin-right:0px;
}

.cont-right{
  margin-left:0px;
  margin-right:auto;
}

.btn-shortcuts-info{
  text-align:justify;
}

.create-info{
  text-align: end;
}
.create-info p{
  font-size: small;
  text-align:start;
  display:inline-block;
  color:rgb(172, 172, 172);
}

.create-info span{
  font-size: small;
  color:rgb(172, 172, 172);
}

.shortcut-info{
  background-color: rgb(161, 161, 161) !important;
}
.shortcut-info p{
  font-size: small;
}

.shortcut-info-item li p {
  font-size: smaller;
}

.collection{
}

.collection-header{
  text-align: start;
}

.coll-item {
  display:inline-block;
  background-color: rgb(223, 223, 223);
  color:rgb(80, 80, 80);
  margin-top: 5px;
  text-align: start;
}

.coll-item img{

}

.coll-item-detail{
  text-align: start;
}

.coll-item-username{
  text-align:start;
}

.coll-item-btns{
  text-align: center;
}

.coll-item-btns button{
  height: 40px;
  width: 40px;
  padding:0px;
  margin:0px;
  background: linear-gradient(45deg, rgb(150, 150, 150), rgb(200, 200, 200));
}

.coll-item-btns img{
  height: 30px;
  width: 30px;
  padding:0px;
  margin:0px;
  background: linear-gradient(45deg, rgb(200, 200, 200),rgb(223, 223, 223));
}

.coll-items-btns a:hover, button:hover{
  background: linear-gradient(45deg, rgb(160, 160, 160), rgb(220, 220, 220));
}
.coll-items-btns a:active, button:active{
  background: linear-gradient(45deg, rgb(160, 160, 160), rgb(100, 100, 100));
}

.coll-items-btns img:hover{
  background: linear-gradient(45deg, rgb(220, 220, 220), rgb(250, 250, 250));
}

.account-page{
  text-align: start;
  display:inline-block;
}

.warn{
  color:rgb(173, 2, 2);
}

#defaultCanvas0{
  border-radius:10px;
  padding:10px;
  background-color: rgb(42, 42, 42);
  cursor: crosshair;
}

.dropicon{
  border-radius: 5px;
}

.red{
  background-color: rgb(185, 70, 70, 200);
}
.green{
  background-color: rgb(70, 185, 70, 200);
}
.blue{
  background-color: rgb(120, 210, 230, 200);
}
.yellow{
  background-color: rgb(255, 255, 100, 200);
}
.orange{
  background-color: rgb(242, 149, 0, 200);
}
.cyan{
  background-color: rgb(0, 238, 242, 200);
}
.purple{
  background-color: rgb(127, 0, 181, 200);
}
.pink{
  background-color: rgb(242, 92, 162, 200);
}
.white{
  background-color: rgb(220, 220, 220, 200);
}
.black{
  background-color: rgb(20, 20, 20, 200);
}
.bg_solid{
  background-color: rgb(20, 20, 20, 200);
}
.bg_solid{
  background-color: rgb(20, 20, 20, 200);
}
.bg_solid{
  background-color: rgb(20, 20, 20, 200);
}