html{
  background-color: rgb(63, 63, 63);
}
body {
  margin: 0px;
  background-color: rgb(63, 63, 63);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.site-header {
  position: absolute;
  top: 1em;
}

.site-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #2e2e2e;
  margin: 0px;
  padding: 1em 0px 0px 0px;
}

.site-footer a {
  color: rgb(119, 119, 119);
}

.nav-area {
  background-color: rgb(42, 42, 42);
  width: 100%;  
}

.auth-nav-wrapper {
  overflow: auto;
}

.auth-nav {
  border-color: black;
}
/**
.auth-nav-i {
  float: right;
}
*/
.nav-i {
  text-align: left;
}

.home-page-heading {
  padding-top: 1.5em;
  padding-bottom: 1em;
  color:rgb(130, 130, 130);
}

.sample-anim {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.home-page-btn-rack {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  padding-bottom: 1em;
  display: block;
}

.controller {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.controller img{
  width:30px;
  height:30px;
}

@media only screen and (max-width: 576px) {
  .controller img{
    width:30px;
    height:30px;
    padding:0px;
    display:inline-block;
  }
  .controller button{
    width:45px;
    height:45px;
    padding:0px;
    display:inline-block;
  }
}

@media only screen and (max-width: 410px){
  .save-controller .btn-ctl{
    margin:0px;
  }
}


@media only screen and (max-width: 390px){
  .controller img{
    width:25px;
    height:25px;
    display:inline-block;
  }
  .controller button{
    width:30px;
    height:30px;
    padding:0px;
    margin:0px;
    display:inline-block;
  }
  .save-controller img{
    width:25px;
    height:25px;
    display:inline-block;
  }
  .save-controller button{
    width:35px;
    height:35px;
    padding:0px;
    display:inline-block;
  }
  
}

.btn-ctl {
  border-radius: 5px;
  border-color:rgb(42, 42, 42);
  display:inline-block;
}

.privacy-group{
  float:left;
}

.privacy-heading{
  color: rgb(179, 179, 179);
  text-align: left;
  display:inline-block;
  font-size: smaller;
}

.privacy-label{
  font-size:small;
  text-align: right;
  display:block;
}

.shortcuts-group{
  margin-top:1em;
  border-color:rgb(0, 0, 0);
  border-width: 10px;
}

.shortcuts-label{
  font-size:small;
}

.create-options{
  overflow: auto;
}

.cont-left{
  margin-left:auto;
  margin-right:0px;
}

.cont-right{
  margin-left:0px;
  margin-right:auto;
}

.btn-shortcuts-info{
  text-align:justify;
}
